/* NAVIGATION - BEGIN -  */
.navbar 
{
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 60%;
    margin: auto;

}

.navItem {
    float: left;
}
  
.navItem a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.navItem a:hover {
    background-color: #111;
}

.account{
    float: right;
}

.projectMenu{
    width: 5rem;
    height: 25rem;
    position: fixed;
    float: left;
    background-color: teal;
}

.navItem img {
    float: left;
    max-height: 32px;
    max-width: 132px;
}
/* NAVIGATION - END -  */


/* General CSS */
body {
    background-color: rgb(46, 46, 46);
    margin: 0px;
    font-family: Arial;
}

header{
    text-align: center;
    min-height: 10%;
    padding-top: 5px;
    background-color: rgb(167, 167, 167);
}

.headerText{
    text-size-adjust: 22px;
}

main
{
    /* In-case of no content on page */
    min-height: 20%;
}

.basicLayout {
    width: 60%;
    background-color: rgb(167, 167, 167);
    margin: auto;
}

.currentProjectOutline{
    min-height: 20px;
    /* border: solid; */
    border-bottom: solid;
    width: 85%;
    margin: auto;
}

.currentProjectOutline img{
    height: 32px;
    border-right: solid;
    border-bottom: solid;
    width: 32px;
    margin: auto;
    float: left;
    padding: 10px;
    background-color: black;
}

.currentProjectOutline h3{
    height: 32px;
    border-bottom: solid;
    border-color: black;
    margin: auto;
    padding: 10px;
    text-align: center;
    background-color: black;
    color: whitesmoke;
    align-items: center;
}

.currentProjectOutline .myProgress{
    height: 20px;
    width: 100%;
    background-color: #ddd;
    margin: auto;
    float: right;
}

.currentProjectOutline table{
    margin: auto;
}

.currentProjectOutline label{
    padding-left: 5px;
    padding-bottom: 5px;
}

.currentProjectOutline .myBar{
    height: 20px;
    background-color: #039127;
    margin: auto;
    float: left;
}

.currentProjectBlog{
    width: 85%;
    margin: auto;
}

#blogTitle{
    height: 40px;
    background-color: black;
    color: whitesmoke;
    text-align: center;
    justify-items: center;
    padding-top: 10px;
}



#admin-projectOutline table{
    text-align: center;
    margin: auto;
    /* padding: 1em; */
}
.infoDisplayed{
    column-gap: 5;
    padding: 1em;
}

.admin-projectDescription{
    text-align: center;

}


/* This is for the project form - to make it look nice */
#admin-projectOutline{
    float: right;
    background-color: white;
    width: 70%;
    border-top-style: solid;
    border-top-width: 3em;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-bottom-width: 1em;
    border-radius: 1em;

}

#optionsForAdmin{
    width:20%;
    float: left;
    margin: auto;
    background-color: blueviolet;
    text-align: left;
}

#optionsForAdmin ul{
    list-style-type: none;
}

/* This is for projectList page */
.projectList{
    margin: auto;
    text-align: center;
    padding-top: 25px;
}

.projectList thead{
    background-color: black;
    color: whitesmoke;
}

.projectList th{
    padding-top: 25px;
    padding-bottom: 25px;
}

.admin-list-header{
    background-color: black;
    color: blanchedalmond;
    font-size: 21px;
}

.admin-list-button{
    padding: 0;
    overflow: hidden;
    /* float: left; */
    /* background-color: #333; */
}

.admin-list-button a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.adminSubmitButton{
    margin: auto;
    text-align: center;
}