body
{
    /* background-color: black; */
    background-color: white;
    margin: 0px;

}
.sectionInfo
{
    width: 225px;
    height: 225px;
    background-color: brown;
}
header
{
    text-align: center;
    /* margin-top: 25px; */
    /* padding-top: 50px; */
    max-height: 500px;
    background-color: hotpink;
}
main
{
    width: 60%;
    background-color: green;
    /* background-color: white; */
    margin: auto;
}