body
{
    background-color: aquamarine;
}
.sectionInfo
{
    width: 225px;
    height: 225px;
    background-color: brown;
}
header
{
    text-align: center;
    /* margin-top: 25px; */
    padding-top: 50px;
}