.navbar 
{
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

.navItem {
    float: left;
}
  
.navItem a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.navItem a:hover {
    background-color: #111;
}

.account{
    float: right;
}

.projectMenu{
    width: 5rem;
    height: 25rem;
    position: fixed;
    float: left;
    background-color: teal;
}

.navItem img {
    float: left;
    max-height: 32px;
    max-width: 132px;
}

