body
{
    /* background-color: black; */
    background-color: rgb(46, 46, 46);
    margin: 0px;
    font-family: Arial;

}

.basic{
    width: 60%;
    background-color: rgb(167, 167, 167);
    margin: auto;
}

header
{
    text-align: center;
    height: 20%;
}
main
{
    min-height: 20%;
}