/* Genral layout and color scheme of the webpage */
body {
    /* background-color: black; */
    background-color: rgb(46, 46, 46);
    margin: 0px;
    font-family: Arial;

}

header
{
    text-align: center;
    height: 20%;
}

main
{
    /* In-case of no content on page */
    min-height: 20%;
}

.basic {
    width: 60%;
    background-color: rgb(167, 167, 167);
    margin: auto;
    /* padding: 15px; */
}

.currentProjectOutline{
    min-height: 20px;
    border: solid;
    width: 85%;
    margin: auto;
}

.currentProjectBlog{
    min-height: 20px;
    border: solid;
    width: 85%;
    margin: auto;
}

/* This is for the progress bar on index page - taken from W3Schools */
#myBar {
    width: 10%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
  }